<section class="blog-post">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <article class="blog-post-item">
          <div class="blog-post-item-thumb">
            <img src="images/blog/blog-post.png" alt="blog-thumb" />
          </div>
          <div class="blog-post-content">
            <h2><a href="single-blog.html">Automatic Drip Available</a></h2>
            <p>IGTV Complete Guide: The Best Tips and Tricks to Instagram’s Video Service.IGTV Complete Guide: The Best
              Tips and Tricks to Instagram’s Video Service.
              <span class="blog-post-excerpts">[...]</span>
            </p>
            <a href="single-blog.html" class="btn btn-primary">Read More</a>
        </article>
        <article class="blog-post-item">
          <div class="blog-post-item-thumb">
            <img src="images/blog/blog-post.png" alt="blog-thumb" />
          </div>
          <div class="blog-post-content">
            <h2><a href="single-blog.html">Automatic Drip Available</a></h2>
            <p>IGTV Complete Guide: The Best Tips and Tricks to Instagram’s Video Service.IGTV Complete Guide: The Best
              Tips and Tricks to Instagram’s Video Service.
              <span class="blog-post-excerpts">[...]</span>
            </p>
            <a href="single-blog.html" class="btn btn-primary">Read More</a>
        </article>
        <article class="blog-post-item">
          <div class="blog-post-item-thumb">
            <img src="images/blog/blog-post.png" alt="blog-thumb" />
          </div>
          <div class="blog-post-content">
            <h2><a href="single-blog.html">Automatic Drip Available</a></h2>
            <p>IGTV Complete Guide: The Best Tips and Tricks to Instagram’s Video Service.IGTV Complete Guide: The Best
              Tips and Tricks to Instagram’s Video Service.
              <span class="blog-post-excerpts">[...]</span>
            </p>
            <a href="single-blog.html" class="btn btn-primary">Read More</a>
        </article>
        <article class="blog-post-item">
          <div class="blog-post-item-thumb">
            <img src="images/blog/blog-post.png" alt="blog-thumb" />
          </div>
          <div class="blog-post-content">
            <h2><a href="single-blog.html">Automatic Drip Available</a></h2>
            <p>IGTV Complete Guide: The Best Tips and Tricks to Instagram’s Video Service.IGTV Complete Guide: The Best
              Tips and Tricks to Instagram’s Video Service.
              <span class="blog-post-excerpts">[...]</span>
            </p>
            <a href="single-blog.html" class="btn btn-primary">Read More</a>
        </article>
        <article class="blog-post-item">
          <div class="blog-post-item-thumb">
            <img src="images/blog/blog-post.png" alt="blog-thumb" />
          </div>
          <div class="blog-post-content">
            <h2><a href="single-blog.html">Automatic Drip Available</a></h2>
            <p>IGTV Complete Guide: The Best Tips and Tricks to Instagram’s Video Service.IGTV Complete Guide: The Best
              Tips and Tricks to Instagram’s Video Service.
              <span class="blog-post-excerpts">[...]</span>
            </p>
            <a href="single-blog.html" class="btn btn-primary">Read More</a>
        </article>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="blog-post-widget-wraper">
          <aside class="blog-post-widget">
            <h2>Recent Posts</h2>
            <ul>
              <li><a href="single-blog.html">How to Post on Instagram from PC or MAC</a> </li>
              <li><a href="single-blog.html">IGTV Complete Guide: The Best Tips and Tricks to Instagram’s Video
                  Service.</a> </li>
              <li><a href="single-blog.html">Instagram Analytics: Mastering Top Tools to Help Your Followers Grow</a>
              </li>
              <li><a href="single-blog.html">Instagram Pod Hacks: How to Increase Your Engagement</a> </li>
              <li><a href="single-blog.html">The Easiest Way to Customize Your Instagram Fonts</a> </li>
            </ul>
          </aside>
          <div class="blog-post-widget">
            <h2>Our Services</h2>
            <ul>
              <li> <a href="#">Buy Yotube Views</a></li>
              <li><a href="#">Buy Youtube Subscribers</a> </li>
              <li><a href="#">Buy Youtube Likes</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>