<section class="checkout">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="checkout-wrapper">
          <h3>Please select your preferred payment method:</h3>
          <div class="checkout-subscribers">
            <div class="checkout-left">
              <div class="banner">
                <img src="images/checkout/visa.png" alt="banner">
                <img src="images/checkout/paypal.png" alt="banner">
              </div>
              <div class="checkout-widget checkout-top">
                <form class="checkout-widget-form" novalidate>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label for="validationTooltip01">Your Country of residence</label>
                      <input type="text" class="form-control" id="validationTooltip01" value="Select" required>
                      <div class="valid-tooltip">
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="validationTooltip02">Enter your email address</label>
                      <input type="text" class="form-control" id="validationTooltip02" value="email Address" required>
                      <div class="valid-tooltip">
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label for="validationTooltip01">Cardholder name</label>
                      <input type="text" class="form-control" id="validationTooltip01" value="Name here" required>
                      <div class="valid-tooltip">
                        Looks good!
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="validationTooltip02">Card Number</label>
                      <input type="text" class="form-control" id="validationTooltip02" value="123" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="validationTooltip01">Month</label>
                      <input type="text" class="form-control" id="validationTooltip01" value="Select" required>

                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationTooltip02">Year</label>
                      <input type="text" class="form-control" id="validationTooltip02" value="Select" required>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label for="validationTooltip02">CVC/CVV</label>
                      <input type="text" class="form-control" id="validationTooltip02" value="Select" required>
                    </div>
                  </div>
                  <button class="btn btn-primary" type="submit">Proceed to Payment</button>
                </form>
              </div>
            </div>
            <div class="checkout-right">
              <div class="checkout-package">
                <h2><span>$11.36</span> 405 Guaranteed Likes</h2>
                <p>
                  Your order will begin in just a few short minutes and will be
                  naturally dripped
                </p>
              </div>
              <div class="checkout-guarantee">
                <h2>100% Money Back Guarantee</h2>
                <p>
                  *This is not a monthly subscription and you will only be billed
                  once.
                </p>
                <p>
                  You will be transferred to our secure payment gateway to complete
                  your purchase.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>