<section class="checkout">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="checkout-left">
          <div class="checkout-upsell checkout-top text-center">
            <h2>
              Save Time and Money Buy Swithcing to
              <span>Automatic Followers</span>
            </h2>
            <a href="#" class="btn btn-primary">Switch Automatic</a>
            <div class="checkout-upsell-dismiss"></div>
          </div>
          <div class="checkout-widget checkout-username checkout-bottom">
            <form class="checkout-widget-form">
              <div class="form-group">
                <label for="instagramUrl">Enter your Post URL</label>
                <input
                  type="email"
                  class="form-control"
                  id="instagramUrl"
                  placeholder="Instagram Post URL"
                />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="Email...."
                />
              </div>
              <div class="checkout-widget-package">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="upgradePackage"
                  />
                  <label class="form-check-label" for="upgradePackage"
                    >Get 30% More Likes for <span>20% Off</span></label
                  >
                </div>
              </div>
              <div class="checkout-widget-submesion">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="upgradePackage"
                  />
                  <label class="form-check-label" for="upgradePackage"
                    >Subscribe for Newsletter and offers</label
                  >
                </div>
                <p>
                  By clicking on Continue, you agree to our terms of service and
                  confirm that you've read our privacy policy.
                </p>
              </div>
              <a href="checkout-followers.html" class="btn btn-secondary"
                >Continue</a
              >
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="checkout-right">
          <div class="checkout-package checkout-top">
            <h2><span>$11.36</span> 405 Guaranteed Followers</h2>
            <p>
              Your order will begin in just a few short minutes and will be
              naturally dripped
            </p>
          </div>
          <div class="checkout-guarantee checkout-bottom">
            <div class="svg-icon">
              <svg
                viewBox="0 0 152 154"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M28.676 89.254L0 131.075l27.687-5.163L32.85 153.6l27.224-39.704-31.398-24.642zM123.114 89.254l-31.398 24.642L118.94 153.6l5.162-27.688 27.686 5.163-28.675-41.821z"
                  fill="#FB8136"
                />
                <path
                  d="M75.856 0C41.75 0 14 27.75 14 61.86s27.749 61.861 61.856 61.861c34.109 0 61.859-27.75 61.859-61.861 0-34.11-27.75-61.86-61.859-61.86z"
                  fill="#FFDA67"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M66.753 82L50 64.959l5.077-5.164L66.753 71.67 95.923 42 101 47.164 66.753 82z"
                  fill="#2A3346"
                />
              </svg>
            </div>
            <h2>100% Money Back Guarantee</h2>
            <p>
              *This is not a monthly subscription and you will only be billed
              once.
            </p>
            <p>
              You will be transferred to our secure payment gateway to complete
              your purchase.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
