<section class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <div class="contact-form" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
          <form class="row">
            <div class="col-md-6">
              <label for="exampleFormControlInput1">Name</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name here…" />
            </div>
            <div class="col-md-6">
              <label for="validationCustom02">Email</label>
              <input type="email" class="form-control" id="validationCustom02" required="" placeholder="Email here…" />
            </div>
            <div class="col-md-12">
              <label for="exampleFormControlTextarea1">Message</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"
                placeholder="Message here…"></textarea>
            </div>
            <div class="col-12">
              <div class="contact-form-footer">
                <button class="btn btn-primary" type="submit">Send Now</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>