<section class="feature genuine-views">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="feature-images">
          <img src="images/feature/genuine-views.png" alt="images">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-content right">
          <span>Views</span>
          <h2>Youtube
            Real / Genuine views</h2>
          <p>Never lift a finger to check out again. Instead, sign up for our automatic packages and get followers
            delivered to your profile on a steady basis. Just keep posting and watch your follower count grow! It’s that
            easy to save your valuable time and money!</p>
          <a href="#" class="btn btn-primary">Buy Views Now!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feature cheap-views">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="feature-content right">
          <span>Views</span>
          <h2>Youtube
            Cheap Views</h2>
          <p>Never lift a finger to check out again. Instead, sign up for our automatic packages and get followers
            delivered to your profile on a steady basis. Just keep posting and watch your follower count grow! It’s that
            easy to save your valuable time and money!</p>
          <a href="#" class="btn btn-primary">Buy Views Now!</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-images">
          <img src="images/feature/cheap-views.png" alt="images">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feature auto-subscribers">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="feature-images">
          <img src="images/feature/auto-subscribers.png" alt="images">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-content right">
          <span>Subscriber</span>
          <h2>Youtube
            Auto Subscribers</h2>
          <p>Never lift a finger to check out again. Instead, sign up for our automatic packages and get followers
            delivered to your profile on a steady basis. Just keep posting and watch your follower count grow! It’s that
            easy to save your valuable time and money!</p>
          <a href="#" class="btn btn-primary">Buy Views Now!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feature subscribers">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="feature-content right">
          <span>Subscriber</span>
          <h2>Youtube
            Subscribers</h2>
          <p>Never lift a finger to check out again. Instead, sign up for our automatic packages and get followers
            delivered to your profile on a steady basis. Just keep posting and watch your follower count grow! It’s that
            easy to save your valuable time and money!</p>
          <a href="#" class="btn btn-primary">Buy Views Now!</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-images">
          <img src="images/feature/subscribers.png" alt="images">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="feature genuine-likes">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="feature-images">
          <img src="images/feature/genuine-likes.png" alt="images">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="feature-content right">
          <span>likes</span>
          <h2>Youtube
            Genuine Likes</h2>
          <p>Never lift a finger to check out again. Instead, sign up for our automatic packages and get followers
            delivered to your profile on a steady basis. Just keep posting and watch your follower count grow! It’s that
            easy to save your valuable time and money!</p>
          <a href="#" class="btn btn-primary">Buy Views Now!</a>
        </div>
      </div>
    </div>
  </div>
</section>