<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget-link">
          <ul>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="terms-conditions.html">Terms of Usage</a></li>
            <li><a href="blog.html">News</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget-link">
          <ul>
            <li><a href="#">Affiliate</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="#">API</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget-link">
          <ul>
            <li><a href="instagram-followers.html">Buy Instagram Followers</a></li>
            <li><a href="instagram-likes.html"> Buy Instagram Likes</a></li>
            <li><a href="instagram-views.html"> Buy Instagram Views</a></li>
            <li><a href="get-views.html"> Get Free Views</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-widget-payment">
          <p>We Accept</p>
          <img src="images/footer/paypal.svg" alt="paypal" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p class="footer-copyright">© 2020 All rights reserved beastLikes</p>
      </div>
    </div>
  </div>
</footer>