<section class="hero hero-genuine-likes">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="hero-content">
          <h1>Youtube
            Genuine Likes</h1>
          <p>
            Looking to generate more buzz around your brand or business?
            Get high-quality youtube Views Subscribers and Likes from SurgeViews! Our Instant and Automatic packages are
            the best way to get activity flowing to your youtube account.
          </p>
          <ul>
            <li>
              <a href="#" class="btn btn-white">Buy Genuine views</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="hero-illustration">
          <img src="images/hero/hero-genuine-likes.svg" alt="hero-illustration" />
        </div>
      </div>
    </div>
  </div>
</section>