<section class="pricing views">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <div class="section-title" id="id-pricing-likes">
          <h2>Buy Instagram Likes Cheap – Starts in 1-3 Minutes!</h2>
          <p>
            We have 2 Options for High-Quality Likes: 1) Fast Likes – This is a
            one time purchase for likes that starts within minutes… 2) Automatic
            Likes – This nifty service will automatically deliver an equivalent
            number of likes and views to all your new uploads. Comes with “Fast
            Detection” so your post will start receiving likes + views within
            minutes, without needing to continually checkout. For Auto Likes,
            max 3 uploads per day and prices below represent the monthly cost.
            Choose a package that suits your needs:
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="pricing-tabs likes">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-Fast-tab" data-toggle="tab" href="#nav-Fast">Buy Genuine
                views</a>
              <a class="nav-item nav-link" id="nav-automatic-tab" data-toggle="tab" href="#nav-automatic">Buy Cheap
                Views</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-Fast">
              <div class="tabs-slider">
                <div class="slider-items">
                  <div class="slider-item-header Fast">
                    <span>50</span>
                    <p class="per-post">Views Per Video</p>
                    <span class="price"> $19.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
                <div class="slider-items">
                  <div class="slider-item-header Fast">
                    <span>50</span>
                    <p class="per-post">Views Per Video</p>
                    <span class="price"> $19.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
                <div class="slider-items">
                  <div class="slider-item-header Fast">
                    <span>50</span>
                    <p class="per-post">Views Per Video</p>
                    <span class="price"> $19.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
                <div class="slider-items">
                  <div class="slider-item-header Fast">
                    <span>50</span>
                    <p class="per-post">Views Per Video</p>
                    <span class="price"> $19.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
                <div class="slider-items">
                  <div class="slider-item-header Fast">
                    <span>50</span>
                    <p class="per-post">Views Per Video</p>
                    <span class="price"> $19.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
                <div class="slider-items">
                  <div class="slider-item-header Fast">
                    <span>50</span>
                    <p class="per-post">Views Per Video</p>
                    <span class="price"> $19.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-automatic">
              <div class="tabs-slider">
                <div class="slider-items">
                  <div class="slider-item-header automatic">
                    <span>50</span>
                    <p class="per-post">Likes Per Post</p>
                    <span class="price"> $10.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
                <div class="slider-items">
                  <div class="slider-item-header automatic">
                    <span>100</span>
                    <p class="per-post">Likes Per Post</p>
                    <span class="price"> $19.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
                <div class="slider-items">
                  <div class="slider-item-header automatic">
                    <span>250</span>
                    <p class="per-post">Likes Per Post</p>
                    <span class="price"> $40.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
                <div class="slider-items">
                  <div class="slider-item-header automatic">
                    <span>500</span>
                    <p class="per-post">Likes Per Post</p>
                    <span class="price"> $75.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
                <div class="slider-items">
                  <div class="slider-item-header automatic">
                    <span>1000</span>
                    <p class="per-post">Likes Per Post</p>
                    <span class="price"> $145.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
                <div class="slider-items">
                  <div class="slider-item-header automatic">
                    <span>500</span>
                    <p class="per-post">Likes Per Post</p>
                    <span class="price"> $75.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>