<section class="pricing likes">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <div class="section-title" id="id-pricing-views">
          <h2>Buy Instagram Views – Automatic Available</h2>
          <p>
            Get ultra high-quality views delivered to your videos in minutes.
            Our views will start moments after you complete checkout and come through Fast.
            Another option to consider is Auto Views, signup to our Automatic Likes service and
            all your new post will receive both views and likes within minutes.
            Choose your desired package below:
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="pricing-tabs followers">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active">
              <div class="tabs-slider">
                <div class="slider-items">
                  <div class="slider-item-header Fast">
                    <span>500</span>
                    <p class="per-post">Instant Views</p>
                    <span class="price"> $1.25</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="checkout-subscribers.html" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
                <div class="slider-items">
                  <div class="slider-item-header Fast">
                    <span>1000</span>
                    <p class="per-post">Instant Views</p>
                    <span class="price"> $2.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="checkout-subscribers.html" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
                <div class="slider-items">
                  <div class="slider-item-header Fast">
                    <span>2500</span>
                    <p class="per-post">Instant Views</p>
                    <span class="price"> $4.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="checkout-subscribers.html" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
                <div class="slider-items">
                  <div class="slider-item-header Fast">
                    <span>5000</span>
                    <p class="per-post">Instant Views</p>
                    <span class="price"> $6.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="checkout-subscribers.html" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
                <div class="slider-items">
                  <div class="slider-item-header Fast">
                    <span>10000</span>
                    <p class="per-post">Instant Views</p>
                    <span class="price"> $10.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="checkout-subscribers.html" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
                <div class="slider-items">
                  <div class="slider-item-header Fast">
                    <span>20000</span>
                    <p class="per-post">Instant Views</p>
                    <span class="price"> $20.00</span>
                  </div>
                  <div class="slider-item-content">
                    <ul>
                      <li>Fast Start Time</li>
                      <li>Quality Likes</li>
                      <li>24/7 Support</li>
                      <li>Money Back Guarantee</li>
                    </ul>
                    <a href="checkout-subscribers.html" class="btn btn-primary">Order Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>