<section class="review">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title section-title-primary">
          <h2>Our Reviews</h2>
          <p>Average rating of 4.8 is based on 5 reviews.</p>
        </div>
        <div class="review-slider">
          <div class="review-slider-item">
            <p class="name">Lorian magenly</p>
            <div class="ratings">
              <img src="images/review/stars.svg" alt="stars" />
            </div>
          </div>
          <div class="review-slider-item">
            <p class="name">Foster clark</p>
            <div class="ratings">
              <img src="images/review/stars.svg" alt="stars" />
            </div>
          </div>
          <div class="review-slider-item">
            <p class="name">Julia roberts</p>
            <div class="ratings">
              <img src="images/review/stars.svg" alt="stars" />
            </div>
          </div>
          <div class="review-slider-item">
            <p class="name">Lorian magenly</p>
            <div class="ratings">
              <img src="images/review/stars.svg" alt="stars" />
            </div>
          </div>
          <div class="review-slider-item">
            <p class="name">Foster clark</p>
            <div class="ratings">
              <img src="images/review/stars.svg" alt="stars" />
            </div>
          </div>
          <div class="review-slider-item">
            <p class="name">Julia roberts</p>
            <div class="ratings">
              <img src="images/review/stars.svg" alt="stars" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>