<section class="tems-conditions">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="tems-conditions-content">
          <div class="tems-conditions-item">
            <h2>Introduction</h2>
            <p>Thank you for choosing FluidBuzz we appreciate your business. The Services are provided by Ultimetech
              S.E.N.C. From here on out, this website will be using the terms “US”, “we”, and “Fluidbuzz” to represent
              Ultimetech S.E.NC. FluidBuzz has the authority to make changes or modifications to this agreement at any
              time. The User can find the latest revision date to the user terms and conditions agreement at the bottom
              of this page. It is the user’s responsibility to keep current on all changes made. By using this site, you
              are bound to and except all past, current and future user terms and conditions within this agreement.</p>

          </div>
          <div class="tems-conditions-item">
            <h2>Age Limits</h2>
            <p>By using this site, FluidBuzz, you must warrant that you are 18 years of age. If you are under 18 and are
              at least 13 you may use this site if it is under the supervision of a parent or legal guardian who agrees
              and accepts the User Terms and Condition Agreement.</p>
          </div>
          <div class="tems-conditions-item">
            <h2>Website Use and Copyright</h2>
            <p>FluidBuzz holds full intellectual property rights to all content including images with the exclusion of
              images from 3rd parties. Permission from FluidBuzz must be given before any content or images may be used
              by anyone else. Everything belongs to FluidBuzz and any 3rd parties that have obtained permission.</p>
          </div>
          <div class="tems-conditions-item">
            <h2>Limitation of Liability</h2>
            <p>User agrees to not hold FluidBuzz or anyone associated with FluidBuzz, under no circumstances, for any
              claim relating to any breach of the terms or conditions of this agreement. User also agrees to not hold
              FluidBuzz or anyone who is connected to FluidBuzz responsible for any types of losses or damages of any
              kind that might arise while using this site and services.</p>
          </div>
          <div class="tems-conditions-item">
            <h2>Conduct</h2>
            <p>User agrees to use FluidBuzz responsibly and only for the intention for which it is designed to be used.
              User agrees not to attempt to change anything on the site or compromise the security of the website.</p>
          </div>
          <div class="tems-conditions-item">
            <h2>Delivery</h2>
            <p>When ordering any service from us, you understand that you are paying us to manage a social media ad on a
              3rd party website sites.</p>
          </div>
          <div class="tems-conditions-item">
            <h2>Confidential Information</h2>
            <p>FluidBuzz uses the information that you send us to complete your order. We also use your information to
              send you upcoming promotions, coupons and information about any 3rd party websites that you might be
              interested in. FluidBuzz never sells your information to anyone.</p>
          </div>
          <div class="tems-conditions-item">
            <h2>Money Back Guarantee</h2>
            <p>If a client needs a refund, they can contact us, chat support or telephone to submit a request. All
              transactions are refundable if a problem persists. Our customer service team will usually get back to you
              within 48 hours.</p>
          </div>
          <div class="tems-conditions-item">
            <h2>Social Media Accounts</h2>
            <p>FluidBuzz is not liable for any damage/loss of too social media accounts, and/or any other information
              during or after your order is delivered. Please note that you use our site at your own risk.</p>
          </div>
          <div class="tems-conditions-item">
            <h2>Corrections</h2>
            <p>FluidBuzz has the right to make corrections to any errors found on its site without prior notice.
              Although we take pride in our accuracy there may be rare occasions when an error could occur and, in this
              case, corrections must take place without any delays.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>