//site color variables
$body-color: #ffffff;
$primary-color: #4e67ff;
$secondary-color: #00e2d5;
$text-color: #46474e;
$text-color-dark: #000;
$gray: #f7f9ff;
$dark-gray: #646569;
$light-gray: #f2f2f6;
$border-color: #e9edff;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: "Inter", sans-serif;
